.aboutMe-container {
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    text-align: center;
    /* height: 80vh; */
    padding: 10px 0;
    margin: 10px 0;
    justify-content: center;
}
.aboutMe-info--container-title {
    margin: 5px;
}
.profilePicture-container {
    width: 100%;
    display: flex;
    place-items: center;
}
.profilePicture {
    height: 200px;
    width: auto;
    border-radius: 10%;
    margin: 10px auto;
    box-shadow: 5px 5px 5px 2px black;
}
@media (min-width: 1250px) {
    .aboutMe-container {
        flex-direction: row;
    }
}
