.contact-container {
    text-align: center;
    color: white;
    place-items: center;
    width: 100%;
    min-height: 200px;
    /* max-height: 40vh; */

}
.icons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin: 0 100px; */
    /* gap: 10px; */
    /* height: 100px; */
    /* justify-content: space-around; */
}
