.proyects-container {
    border-top: solid black 3px;
    border-bottom: solid black 3px;
}

.section-title {
    text-align: center;
    font-size: xx-large;
}
.proyect {
    width: 100vw;
    scroll-snap-align: center;
}
.slider-proyects__container {
    position: relative;
    width: 100%;
}
.slider-proyects {
    display: flex;
    text-align: center;
    gap: 10vw;
    padding: 10px 10%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}
.image-proyect-desktop {
    width: auto;
    max-height: 50vh;
    max-width: 70vw;
    margin-left: 2px;
    margin-right: 2px;
}
.slider-proyects-botton--left {
    background-color: transparent;
    position: absolute;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    transform: rotate(90deg);
    left: 0;
    border: none;
    z-index: 2;
}
.slider-proyects-botton--right {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border: none;
    transform: rotate(-90deg);
    z-index: 1;
}
.slider-proyects-botton--left img {
    background-color: var(--my-color--dark);
    border-radius: 50%;
}
.slider-proyects-botton--right img {
    background-color: var(--my-color--dark);
    border-radius: 50%;
}