.aboutMe-description {
    display: flex;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background-color: var(--my-color--dark);
    border-radius: 0 5px 5px 5px;
    box-shadow: 5px 5px 5px 2px black;
    place-items: center;
    text-overflow: ellipsis;
}
.aboutMe-description-section {
    width: 100%;
    height: 100%;
    padding: 10px;
}

