
.contact-container {
    text-align: center;
    color: white;
    place-items: center;
    width: 100%;
}
.icons-container {
    display: flex;
    justify-content: center;
    margin: 0 100px;
    /* gap: 10px; */
    /* height: 100px; */
    /* justify-content: space-around; */
}
