.formContact-container {
    display: flex;
    flex-direction: column;
    background-color: var(--my-color--dark);
    max-width: 600px;
    
    min-height: 40vh;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px black;
    padding: 10px;
    margin: 5px auto;
}
.formContact-instructions {
    /* font-weight: bold; */
    padding-top: 5px;
}
form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 10px;
    justify-content: space-between;
}
.formContact-container input, textarea {
    font-size: 1.2rem;
    padding: 4px;
}
.formContact-field {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
label {
    font-size: 1.4rem;
}
textarea {
    min-height: 20vh;
    height: auto;
    max-height: 40vh;
}
.formContacta-button--submit {
    font-size: 1.4rem;
    background-color: rgb(124, 135, 151);
    width: 120px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin: 5px auto;
}