.icon-container--withlink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* width: 100px; */

}
.icon-container--withlink a {
    display: block;
    width: fit-content;
    text-decoration: none;
}
.icon-container--withlink__logo {
    width: 30px;
    height: 30px;
    padding: 1px;
    border-radius: 2px;
    background-color: white;
    border-radius: 5px;
}