.activeItem {
    background-color: var(--my-color--dark);
}

.activeItem button {
    background-color: var(--my-color--dark);
    color: aliceblue;
    font-size: 1.2rem; 
    font-weight: bold;
    border: none;
}
.list-aboutMe {
    display: flex;
}
.list-aboutMe li {
    padding: 0;
    margin: 0;
}
.list-aboutMe-button--initial {
    border-left: solid 1px;
    border-top-left-radius: 5px;
}

button {
    display: block;
    color: white;
    background-color: transparent;
    /* border: solid 1px; */
    border-top: solid 1px rgb(97, 95, 137);
    border-right: solid 1px rgb(97, 95, 137);
    border-bottom: 0;
    border-left: 0;
    border-radius: 0 5px 0 0;
    /* margin: 5px; */
    padding: 2px 5px;
    font-size: 1.0rem;
    /* font-size: 1.2rem;
     font-weight: lighter; */
    /* padding: 2px 10px; */
    /* border-radius: 50% 0; */
    /* box-shadow:  1px 1px 1px rgb(97, 95, 137); */
}