.list-aboutMe {
    display: flex;
}
.list-aboutMe li {
    padding: 0;
    margin: 0;
}
.activeItem {
    background-color: var(--my-color--dark);
}

.activeItem button {
    background-color: var(--my-color--dark);
    color: aliceblue;
    font-size: 1.4rem; 
    font-weight: bold;
    border: none;
}

.list-aboutMe-button {
    display: block;
    color: white;
    background-color: transparent;
    border-right: solid 1px rgb(97, 95, 137);
    border-bottom: solid 1px black 0;
    border-left: 0;
    border-radius: 0 5px 0 0;
    font-size: 1.2rem;
    padding: 5px 10px;
}
.list-aboutMe-button--initial {
    border-left: solid 1px;
    border-top-left-radius: 5px;
}