.list-container--parent {
  width: 95vw;
  overflow-x: hidden;
  margin: 5px;
}
.list-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    animation: 15s infinite alternate slidein;
}
@keyframes slidein {
    from {
      transform: translateX(0vh);
    }

    to {
      transform: translateX(-80vw);
    }
  }