.socialMedia-container {
    margin: 5px;
    padding: 5px;
}
.socialMedia-title {
    font-size: 1.4rem;
}
.icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.displayRow {
    flex-direction: row;
}