.writing-effect-container { 
    width: fit-content;
}
.writing-effect {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: fit-content;
    overflow: hidden;
}
.typing0 {
    animation: typing0 1s steps(10,end) alternate-reverse;
}
.typing1 {
    animation: typing1 1s steps(18,end) alternate-reverse;
}
.typing2 {
    animation: typing2 1s steps(17,end) alternate-reverse;
}
.typing3 {
    animation: typing3 1s steps(19,end) alternate-reverse;
}
@keyframes typing0 {
    from {
        width: 10ch;
    }
    to {
        width: 0;
    }
}
@keyframes typing1 {
    from {
        width: 18ch;
    }
    to {
        width: 0;
    }
}

@keyframes typing2 {
    from {
        width: 17ch;
    }
    to {
        width: 0;
    }
}

@keyframes typing3 {
    from {
        width: 19ch;
    }
    to {
        width: 0;
    }
}

@media(min-width: 1250px) {
    .writing-effect {
        font-size: 2rem;
    }
}